BB_USUARIO=C...
BB_SENHA=SuaSenhaAqui123

RPA_CHROME_VERSION_MAIN=
RPA_CHROME_PROFILE_DIR=
RPA_HEADLESS=false
RPA_DEFAULT_TIMEOUT=30
RPA_LOGIN_TIMEOUT=60
RPA_LOGIN_STAGE_TIMEOUT=20
RPA_LOGIN_STAGE_ATTEMPTS=3
RPA_PAGE_READ_ATTEMPTS=3
RPA_MONITOR_RECONCILE_ENABLED=true
RPA_MONITOR_RECONCILE_LIMIT=10
RPA_MONITOR_RECONCILE_LOOKBACK_HOURS=168

LEGAL_ONE_BASE_URL=https://api.thomsonreuters.com/legalone/v1/api/rest
LEGAL_ONE_CLIENT_ID=
LEGAL_ONE_CLIENT_SECRET=
LEGAL_ONE_REQUEST_TIMEOUT=30
LEGAL_ONE_PAGE_SIZE=100
LEGAL_ONE_MAX_PAGES_PER_TYPE=100

DB_HOST=SeuHostAqui
DB_PORT=suaPortaAqui
DB_USER=
DB_PASS=
DB_NAME=


API_NOTIFICACAO_URL=
API_NOTIFICACAO_TIMEOUT=30
API_NOTIFICACAO_RETRIES=2
